<table align="center">
  <thead>
    <tr align="center">
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of dataService.quantities" align="center">
    <ng-container *ngIf="record.quantity>0">
      <td>{{record.item.name}}</td>
      <td>{{record.item.price}}</td>
      <td>{{record.quantity}}</td>
    </ng-container>
  </tr>
  </tbody>
</table>
<div align="center"> Total: {{this.dataService.totalCost}}</div>
<div>
  <span>Payment Options:</span>
  <mat-radio-group [(ngModel)] = "paymentType" aria-label="Select an option">
    <mat-radio-button  value="upi" >UPI</mat-radio-button>
    <mat-radio-button  value="creditCard">Credit Card</mat-radio-button>
  </mat-radio-group>
</div>
<div align="center"><button (click)="goToPaymentPage()">Proceed to Pay</button></div>
